<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.5.0" targetFramework="net46" />
  <package id="Accord.Math" version="3.5.0" targetFramework="net46" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.633" targetFramework="net47" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net46" />
  <package id="MathNet.Numerics.MKL.Win-x64" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net47" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
</packages>