<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="LiveCharts" publicKeyToken="0bc1f845d1ebb8df" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.9.7.0" newVersion="0.9.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IWarpAnalytics" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://analytics.multiparticle.com/WarpAnalytics.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarpAnalytics"
    contract="WarpAnalytics.IWarpAnalytics" name="BasicHttpBinding_IWarpAnalytics" />
  </client>
 </system.serviceModel>
</configuration>
